.airlineViewer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  button {
    width: 100px;
  }

  .cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
}
