* {
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.app {
	margin: 0;
	padding: 0;
	position: relative;

	.advertContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.advertisements {
			width: 90%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-column-end: 10px;
			column-gap: 15px;
			position: absolute;
			top: 67%;
			height: 30%;
		}
	}
}
