.checkoutSummary {
  background-color: #def6f9;
  border-radius: 8px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  .top {
    .title {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 60%;

    .title {
      font-size: 1rem;
      font-weight: 500;
    }

    .summaryDropDowns {
      width: 100%;

      .outbound,
      .inbound {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
        width: 100%;
        padding: 15px;
        .details {
          width: 100%;
          .intro {
            padding: 0px;
            font-size: 0.8rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
