.advertcardContainer {
	height: 100%;
	border-radius: 10px;
	color: white;
	background-color: rgba(41, 139, 231, 0.623);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	display: flex;
	flex-direction: row;
	border-radius: 12px;
	overflow: hidden;
	align-items: center;

	&:hover {
		background-color: rgba(41, 139, 231, 1);
	}

	.textBackground {
		flex: 1;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0.164);
		height: 90%;

		.description {
			color: white;
		}
	}

	.image {
		margin-right: 2px;
		flex: 1;
		height: 100px;
		object-fit: cover;
	}
}
