$navbarHeight: 60px;

.navbar {
  height: $navbarHeight;
  width: 100%;
  background: rgb(97, 193, 111);
  background: linear-gradient(
    90deg,
    rgba(97, 193, 111, 1) 0%,
    rgba(13, 195, 169, 0.8) 39%,
    rgba(67, 154, 134, 1) 100%
  );

  border-bottom: 2px solid #0dc3a9;
  border-top: 2px solid #0dc3a9;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;

  .link {
    text-decoration: none;
  }

  .navbarButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
    position: relative;

    .link {
      text-decoration: none;
    }

    .openButton::before {
      content: "";
      width: 30px;
      height: 30px;
      top: 300px;

      position: absolute;
    }
  }

  .title {
    font-family: "Pacifico", cursive;
    margin-left: 01vw;
    padding: 0px 10px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(185, 90, 0);
    background-color: #ffc64b;
    border: 3px solid #238f33;
    justify-self: center;
  }
}
