.searchResultsCard {
  width: 80%;
  height: 220px;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #def6f9;

  &.selected {
    background-color: #def6f9;
    border: 1px solid #1976d2;
  }

  &.unselected {
    background-color: white;
    border: 1px solid lightgrey;
  }

  .container {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .outboundTravel,
    .inboundTravel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      height: 100px;
    }
  }

  .divider {
    height: 100%;
    width: 2px;
    background-color: rgb(62, 59, 59);
  }

  .right {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .priceGroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .unitPrice,
      .totalPrice {
        .group {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .label {
            font-size: 0.8rem;
            color: black;
            font-weight: 500;
          }
          .price {
            display: flex;
            flex-direction: row;
            align-items: center;
            .priceTag {
              font-size: 1.8rem;
              color: black;
              font-weight: 500;
            }
          }
        }

        .currencyIcon {
          font-size: 18px;
        }
      }
    }
  }
}
