.dataRowViewer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	background-color: rgba(211, 211, 211, 0.233);

	&.title {
		color: darkgreen;
		background-color: lightgray;
	}

	.id {
		flex: 1;
		padding-left: 3px;
		h4 {
			text-align: center;
		}
	}

	.airlineName {
		flex: 5;
		padding-left: 3px;
	}

	.airlineHub {
		flex: 5;
		padding-left: 3px;
	}

	.airlineIcon {
		flex: 5;
		padding-left: 3px;
	}
}

.dataRowViewer:hover {
	background-color: lightblue;
}
