.navButton {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .touchSurface {
    width: 100%;
    height: 100%;
    background-color: #06283d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .buttonLabel {
      font-size: 1.2rem;
      font-weight: 500;
      color: #dff6ff;
      user-select: none;
    }
  }
}
