.searchbar {
  height: 80%;
  width: 60%;
  background-color: rgb(37, 88, 129);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  .searchOptions {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;

    input {
      color: white;
    }

    label {
      color: white;
      font-weight: 500;
    }
  }

  .searchParameters {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
      height: 42px;
      border-radius: 5px;
      border: none;
      font-weight: 400;
      font-size: 14px;
      padding-left: 10px;
      color: black;
    }

    .searchData {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5px;

      .city {
        flex: 3;
      }

      .date {
        flex: 1;
        height: 30px;
      }
    }
  }

  .searchSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .searchOptions {
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        font-size: small;
        font-weight: 100;

        .icon {
          font-size: 16px;
          color: goldenrod;
        }
      }
    }
  }
}
