.marker {
  .text {
    // Circle to center
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .label {
      // Text to center
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 0.8rem;
      font-weight: 400;

      &.filled {
        background-color: #8dadce;
      }
      &.contained {
        background-color: transparent;
        border: 1px solid #1976d2;
      }

      &.end {
        background-color: rgb(255, 62, 62);
      }

      &.start {
        background-color: rgb(109, 179, 117);
      }

      &.darktext {
        color: black;
      }

      &.boldtext {
        font-weight: 500;
      }

      &.lighttext {
        color: white;
      }

      &.center {
        text-align: center;
      }
    }
  }
}
