.backdrop {
	display: flex;
	flex-direction: column;
	height: calc(
		100vh - 60px - 4px
	); // Minus the height of the navbar and its top and bottom borders
	img {
		height: 100%;
		width: 100vw;
		object-fit: cover;
	}
}
