.verticalSearchBar {
  height: 100%;
  background-color: #def6f9;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .top {
    margin-top: 20px;
    padding-top: 10px;
    height: 300px;
    width: 80%;
    border-radius: 12px;
    background-color: #d7eef1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .title {
      padding-top: 5px;
      font-size: 1rem;
      font-weight: 500;
    }

    .searchParameters {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  }

  .middle {
    height: 60px;
    width: 100%;
    padding-top: 20px;

    .datepicker {
      width: 100%;
      padding: 0px;
    }

    .departureDateTitle,
    .returnDateTitle {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    width: 80%;
    padding-top: 30px;
  }
}
