.flightSummaryBar {
  height: 100%;
  background-color: #def6f9;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .flightSummaryContainer {
    margin-top: 20px;
    padding-top: 10px;
    height: 80%;
    width: 80%;
    border-radius: 12px;
    background-color: #d7eef1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .top {
      .title {
        padding-top: 10px;
        font-size: 1rem;
        font-weight: 500;
      }
    }

    .departureDetails,
    .returnDetails {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      height: 300px;
      width: 100%;
      font-size: 0.8rem;
      font-weight: 30;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    width: 80%;
    padding-top: 30px;
  }
}
