.FlightSummary {
  height: 100%;
  background-color: #def6f9;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .flightSummaryContainer {
    margin-top: 20px;
    padding-top: 10px;
    height: 90%;
    width: 80%;
    border-radius: 12px;
    background-color: #d7eef1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .title {
      font-size: 1.2rem;
      font-weight: 500;
      color: black;
    }

    .departureSummary,
    .returnSummary {
      padding: 30px;
    }
  }
}
